<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>REMAINED.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,13}</string>
                <key>spriteSourceSize</key>
                <string>{49,13}</string>
                <key>textureRect</key>
                <string>{{1223,408},{49,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttom_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{1345,565},{21,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttom_line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,426}</string>
                <key>spriteSourceSize</key>
                <string>{211,426}</string>
                <key>textureRect</key>
                <string>{{1359,1},{211,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttom_line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,226}</string>
                <key>spriteSourceSize</key>
                <string>{395,226}</string>
                <key>textureRect</key>
                <string>{{826,408},{395,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>detail_backgroud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,1356}</string>
                <key>spriteSourceSize</key>
                <string>{405,1356}</string>
                <key>textureRect</key>
                <string>{{1,1},{405,1356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{28,12}</string>
                <key>textureRect</key>
                <string>{{1557,429},{28,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gray_ship.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{1285,565},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{1254,565},{26,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{1223,565},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineral_prefile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,66}</string>
                <key>spriteSourceSize</key>
                <string>{332,66}</string>
                <key>textureRect</key>
                <string>{{1223,429},{332,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>name_prefile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,66}</string>
                <key>spriteSourceSize</key>
                <string>{332,66}</string>
                <key>textureRect</key>
                <string>{{1223,497},{332,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plante.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,16}</string>
                <key>spriteSourceSize</key>
                <string>{31,16}</string>
                <key>textureRect</key>
                <string>{{1312,408},{31,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>position.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{1315,565},{22,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>system.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,14}</string>
                <key>spriteSourceSize</key>
                <string>{36,14}</string>
                <key>textureRect</key>
                <string>{{1274,408},{36,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{1371,565},{21,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,426}</string>
                <key>spriteSourceSize</key>
                <string>{211,426}</string>
                <key>textureRect</key>
                <string>{{1,408},{211,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_line2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,227}</string>
                <key>spriteSourceSize</key>
                <string>{395,227}</string>
                <key>textureRect</key>
                <string>{{429,408},{395,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_detail.png</string>
            <key>size</key>
            <string>{1571,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaacd5bec9d3cec01ff3a3d67edff6b4:b454559c02783f3bc9cfc2d03e658352:5f4d6667796d7050cd29b34ac8382e18$</string>
            <key>textureFileName</key>
            <string>ship_detail.png</string>
        </dict>
    </dict>
</plist>
