<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_cool_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1073,34},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_cool_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1073,42},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack_cool_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1073,50},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,91}</string>
                <key>spriteSourceSize</key>
                <string>{346,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,91}</string>
                <key>spriteSourceSize</key>
                <string>{346,91}</string>
                <key>textureRect</key>
                <string>{{349,1},{346,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,91}</string>
                <key>spriteSourceSize</key>
                <string>{346,91}</string>
                <key>textureRect</key>
                <string>{{697,1},{346,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>collecting_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1103,65},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>collecting_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1112,65},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>collecting_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1121,65},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>default_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1081,73},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1081,82},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1089,66},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1089,74},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1089,83},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1097,74},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_cool_bar_1_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,3}</string>
                <key>spriteSourceSize</key>
                <string>{10,3}</string>
                <key>textureRect</key>
                <string>{{1058,29},{10,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_cool_bar_1_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,3}</string>
                <key>spriteSourceSize</key>
                <string>{10,3}</string>
                <key>textureRect</key>
                <string>{{1070,29},{10,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_cool_bar_2_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{1073,65},{6,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_cool_bar_2_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{1073,76},{6,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_cool_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1097,83},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_cool_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1105,73},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_cool_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1105,82},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_default_bar_1_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,3}</string>
                <key>spriteSourceSize</key>
                <string>{11,3}</string>
                <key>textureRect</key>
                <string>{{1125,23},{11,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_default_bar_1_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,3}</string>
                <key>spriteSourceSize</key>
                <string>{11,3}</string>
                <key>textureRect</key>
                <string>{{1045,29},{11,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_default_bar_2_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{1081,58},{6,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_default_bar_2_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{1092,58},{6,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_sign_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,13}</string>
                <key>spriteSourceSize</key>
                <string>{7,13}</string>
                <key>textureRect</key>
                <string>{{1110,23},{7,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_sign_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{9,18}</string>
                <key>textureRect</key>
                <string>{{1110,1},{9,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_sign_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,17}</string>
                <key>spriteSourceSize</key>
                <string>{9,17}</string>
                <key>textureRect</key>
                <string>{{1110,12},{9,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineral_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{1078,1},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineral_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{1045,36},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mineral_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{1045,1},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>occupying_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1113,73},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>occupying_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1122,73},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>occupying_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1113,81},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speed_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{1082,29},{27,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speed_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{1106,36},{27,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speed_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{1045,68},{26,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_card.png</string>
            <key>size</key>
            <string>{1129,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8ec79f44ff7539213b22fcde2c38249:638179b67e21b6a0496f83e76c83a400:10e453053db077ae9a110789bce70f49$</string>
            <key>textureFileName</key>
            <string>ship_card.png</string>
        </dict>
    </dict>
</plist>
