<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Remained.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,38}</string>
                <key>spriteSourceSize</key>
                <string>{145,38}</string>
                <key>textureRect</key>
                <string>{{826,747},{145,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>System.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,47}</string>
                <key>spriteSourceSize</key>
                <string>{108,47}</string>
                <key>textureRect</key>
                <string>{{796,149},{108,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_time_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{866,747},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,354}</string>
                <key>spriteSourceSize</key>
                <string>{360,354}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gray_ship.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{480,804},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_ship_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{444,835},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>large_dail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,354}</string>
                <key>spriteSourceSize</key>
                <string>{354,354}</string>
                <key>textureRect</key>
                <string>{{1,357},{354,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lord_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{866,780},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mineral_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{899,747},{29,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>name_dail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,227}</string>
                <key>spriteSourceSize</key>
                <string>{312,227}</string>
                <key>textureRect</key>
                <string>{{1,713},{312,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,134}</string>
                <key>spriteSourceSize</key>
                <string>{146,134}</string>
                <key>textureRect</key>
                <string>{{796,1},{146,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nest_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,207}</string>
                <key>spriteSourceSize</key>
                <string>{431,207}</string>
                <key>textureRect</key>
                <string>{{363,1},{431,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>occupy_time_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{315,748},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,255}</string>
                <key>spriteSourceSize</key>
                <string>{271,255}</string>
                <key>textureRect</key>
                <string>{{678,210},{271,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planet_der.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,298}</string>
                <key>spriteSourceSize</key>
                <string>{278,298}</string>
                <key>textureRect</key>
                <string>{{357,524},{278,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planet_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{444,804},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,247}</string>
                <key>spriteSourceSize</key>
                <string>{262,247}</string>
                <key>textureRect</key>
                <string>{{678,483},{262,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>position_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,28}</string>
                <key>textureRect</key>
                <string>{{511,804},{22,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_ship_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{444,868},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,164}</string>
                <key>spriteSourceSize</key>
                <string>{167,164}</string>
                <key>textureRect</key>
                <string>{{657,747},{167,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_nest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{315,713},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_dail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,312}</string>
                <key>spriteSourceSize</key>
                <string>{313,312}</string>
                <key>textureRect</key>
                <string>{{363,210},{313,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>solar_system_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{906,149},{28,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tooltip_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,119}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{315,804},{127,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tooltips.png</string>
            <key>size</key>
            <string>{934,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f104d6ec0805f6fd0bb353bbb4607006:e62688ee94c3e97fadd62aef846b4fb4:f272571d6a8f44471f4c4dfad153adad$</string>
            <key>textureFileName</key>
            <string>tooltips.png</string>
        </dict>
    </dict>
</plist>
