<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,354}</string>
                <key>spriteSourceSize</key>
                <string>{360,354}</string>
                <key>textureRect</key>
                <string>{{210,1},{360,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>name_dail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,227}</string>
                <key>spriteSourceSize</key>
                <string>{312,227}</string>
                <key>textureRect</key>
                <string>{{732,301},{312,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nest_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,207}</string>
                <key>spriteSourceSize</key>
                <string>{431,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{431,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>planet_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,255}</string>
                <key>spriteSourceSize</key>
                <string>{271,255}</string>
                <key>textureRect</key>
                <string>{{459,363},{271,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_der.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,298}</string>
                <key>spriteSourceSize</key>
                <string>{278,298}</string>
                <key>textureRect</key>
                <string>{{732,1},{278,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,247}</string>
                <key>spriteSourceSize</key>
                <string>{263,247}</string>
                <key>textureRect</key>
                <string>{{210,363},{263,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ship_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,164}</string>
                <key>spriteSourceSize</key>
                <string>{167,164}</string>
                <key>textureRect</key>
                <string>{{1,434},{167,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tooltips_right.png</string>
            <key>size</key>
            <string>{1011,627}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f7af1e43aa9e57ae1dd02759b34376:83477b102691aa9844f1d1227b6c09d4:e2749866e881fc03245e70be2837eeb3$</string>
            <key>textureFileName</key>
            <string>tooltips_right.png</string>
        </dict>
    </dict>
</plist>
