<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>default_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,12},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{9,12},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,21},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_default_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{9,21},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_default_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,30},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_default_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{9,30},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_default_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,3}</string>
                <key>spriteSourceSize</key>
                <string>{10,3}</string>
                <key>textureRect</key>
                <string>{{1,39},{10,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_default_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{1,1},{6,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_default_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,44},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_default_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{9,44},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_hover_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,53},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_hover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{9,53},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_hover_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,62},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_hover_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,3}</string>
                <key>spriteSourceSize</key>
                <string>{10,3}</string>
                <key>textureRect</key>
                <string>{{1,71},{10,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_hover_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{9,1},{6,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_hover_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{9,62},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_hover_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,76},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_pressed_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{9,76},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_pressed_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,85},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_pressed_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{9,85},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_pressed_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,94},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_status_pressed_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{9,94},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_status.png</string>
            <key>size</key>
            <string>{16,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb818aeaf4650974e81e67fa693a4e41:c0664cf700750fce6de1c423b5a5b2dc:676696c9fc86bce4c5638b48833691b2$</string>
            <key>textureFileName</key>
            <string>ship_status.png</string>
        </dict>
    </dict>
</plist>
