<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttom_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,433}</string>
                <key>spriteSourceSize</key>
                <string>{211,433}</string>
                <key>textureRect</key>
                <string>{{1,1},{211,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttom_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,231}</string>
                <key>spriteSourceSize</key>
                <string>{90,231}</string>
                <key>textureRect</key>
                <string>{{871,1},{90,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,433}</string>
                <key>spriteSourceSize</key>
                <string>{211,433}</string>
                <key>textureRect</key>
                <string>{{436,1},{211,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,231}</string>
                <key>spriteSourceSize</key>
                <string>{90,231}</string>
                <key>textureRect</key>
                <string>{{871,93},{90,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_detail_line.png</string>
            <key>size</key>
            <string>{1103,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b196f5cb6c10d0a81b7b3b26c160ce1:900bded54490ac8e2c3d884eb0723c6b:ae9edad0119238ab3a9c30f885687b2c$</string>
            <key>textureFileName</key>
            <string>ship_detail_line.png</string>
        </dict>
    </dict>
</plist>
