<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_level_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_level_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{1,273},{72,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_level_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{1,69},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_level_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{1,340},{72,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_level_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{1,137},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_level_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{1,205},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_level_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{1,407},{72,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_level_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{72,63}</string>
                <key>textureRect</key>
                <string>{{1,540},{72,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_level_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{72,63}</string>
                <key>textureRect</key>
                <string>{{1,605},{72,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_level_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1,474},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_level.png</string>
            <key>size</key>
            <string>{74,669}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:120f7396d4181be5a0f8f280bc70a291:c9e1d7d41e49dddcd260942b97c7fa5f:19b75e9cfef23ef5b7eaeacbc817d365$</string>
            <key>textureFileName</key>
            <string>ship_level.png</string>
        </dict>
    </dict>
</plist>
