<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_card_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,92}</string>
                <key>spriteSourceSize</key>
                <string>{348,92}</string>
                <key>textureRect</key>
                <string>{{1,94},{348,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_card_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,91}</string>
                <key>spriteSourceSize</key>
                <string>{347,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{347,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ship_card_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,92}</string>
                <key>spriteSourceSize</key>
                <string>{348,92}</string>
                <key>textureRect</key>
                <string>{{1,188},{348,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ship_card.png</string>
            <key>size</key>
            <string>{350,281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16ec13f98df1c98d8481503e5ec848b2:c8d3316672e360394ab4880f30e08ce7:10e453053db077ae9a110789bce70f49$</string>
            <key>textureFileName</key>
            <string>ship_card.png</string>
        </dict>
    </dict>
</plist>
