<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Planet_name_node_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{142,1},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Planet_name_node_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,46}</string>
                <key>spriteSourceSize</key>
                <string>{45,46}</string>
                <key>textureRect</key>
                <string>{{142,49},{45,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_name_node_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,71}</string>
                <key>spriteSourceSize</key>
                <string>{18,71}</string>
                <key>textureRect</key>
                <string>{{189,1},{18,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player_name_node_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,71}</string>
                <key>spriteSourceSize</key>
                <string>{17,71}</string>
                <key>textureRect</key>
                <string>{{108,110},{17,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ship_count_node_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,107}</string>
                <key>spriteSourceSize</key>
                <string>{18,107}</string>
                <key>textureRect</key>
                <string>{{122,1},{18,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_count_node_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{17,105}</string>
                <key>spriteSourceSize</key>
                <string>{17,107}</string>
                <key>textureRect</key>
                <string>{{1,110},{17,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gray_ship_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{119,107}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>solay_system_icon.png</string>
            <key>size</key>
            <string>{208,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f50093df8142754794830c0da67f7aa9:7cebc96ff4a5aff2ab3fe31aa0a798cc:d92ae49c3db0aa6d622a4671696a6fe0$</string>
            <key>textureFileName</key>
            <string>solay_system_icon.png</string>
        </dict>
    </dict>
</plist>
