<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{765,717},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_planet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{657,708},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_remaining.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,46}</string>
                <key>spriteSourceSize</key>
                <string>{152,46}</string>
                <key>textureRect</key>
                <string>{{544,1095},{152,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,91}</string>
                <key>spriteSourceSize</key>
                <string>{529,91}</string>
                <key>textureRect</key>
                <string>{{461,564},{529,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,37}</string>
                <key>spriteSourceSize</key>
                <string>{71,37}</string>
                <key>textureRect</key>
                <string>{{759,951},{71,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_image_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,561}</string>
                <key>spriteSourceSize</key>
                <string>{710,561}</string>
                <key>textureRect</key>
                <string>{{1,1},{710,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,142}</string>
                <key>spriteSourceSize</key>
                <string>{722,142}</string>
                <key>textureRect</key>
                <string>{{1,564},{722,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_item_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{714,144}</string>
                <key>spriteSourceSize</key>
                <string>{714,144}</string>
                <key>textureRect</key>
                <string>{{309,564},{714,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_item_line_buttom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,49}</string>
                <key>spriteSourceSize</key>
                <string>{70,49}</string>
                <key>textureRect</key>
                <string>{{592,1217},{70,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_item_line_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{712,1215},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,4}</string>
                <key>spriteSourceSize</key>
                <string>{701,4}</string>
                <key>textureRect</key>
                <string>{{455,564},{701,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_line_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{554,1073},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_mineral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{119,109}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{554,831},{119,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_mineral_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,142}</string>
                <key>spriteSourceSize</key>
                <string>{81,142}</string>
                <key>textureRect</key>
                <string>{{461,1095},{81,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_occupied.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,46}</string>
                <key>spriteSourceSize</key>
                <string>{133,46}</string>
                <key>textureRect</key>
                <string>{{711,951},{133,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_planet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,101}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{554,708},{121,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,111}</string>
                <key>spriteSourceSize</key>
                <string>{106,111}</string>
                <key>textureRect</key>
                <string>{{657,717},{106,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_player_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,142}</string>
                <key>spriteSourceSize</key>
                <string>{92,142}</string>
                <key>textureRect</key>
                <string>{{554,564},{92,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_remaining.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,46}</string>
                <key>spriteSourceSize</key>
                <string>{151,46}</string>
                <key>textureRect</key>
                <string>{{663,952},{151,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_ship.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,107}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{554,952},{119,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_ship_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{69,142}</string>
                <key>spriteSourceSize</key>
                <string>{71,142}</string>
                <key>textureRect</key>
                <string>{{592,1073},{69,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_solar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{119,95}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{665,830},{119,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_solar_rect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,142}</string>
                <key>spriteSourceSize</key>
                <string>{62,142}</string>
                <key>textureRect</key>
                <string>{{648,564},{62,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_system.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,46}</string>
                <key>spriteSourceSize</key>
                <string>{108,46}</string>
                <key>textureRect</key>
                <string>{{663,1105},{108,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_text_join_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{664,1215},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_text_join_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,4}</string>
                <key>spriteSourceSize</key>
                <string>{19,4}</string>
                <key>textureRect</key>
                <string>{{309,1280},{19,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_text_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{714,83}</string>
                <key>spriteSourceSize</key>
                <string>{714,83}</string>
                <key>textureRect</key>
                <string>{{713,1},{714,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_text_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,162}</string>
                <key>spriteSourceSize</key>
                <string>{721,162}</string>
                <key>textureRect</key>
                <string>{{145,564},{721,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_bar_text_line_buttom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{759,1024},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_text_line_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{46,10}</string>
                <key>textureRect</key>
                <string>{{461,1239},{46,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_text_line_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,28}</string>
                <key>spriteSourceSize</key>
                <string>{37,28}</string>
                <key>textureRect</key>
                <string>{{759,1055},{37,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bar_total.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,38}</string>
                <key>spriteSourceSize</key>
                <string>{71,38}</string>
                <key>textureRect</key>
                <string>{{711,1175},{71,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_mineral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{87,81}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{711,1086},{87,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left_bar.png</string>
            <key>size</key>
            <string>{797,1287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef117d2f675c134a1da97c3c5633cf7:1a3444431ade7974edfd6a12b35af671:91284bb0ebd8a197a25b9c3da2c5eac1$</string>
            <key>textureFileName</key>
            <string>left_bar.png</string>
        </dict>
    </dict>
</plist>
