<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dail_outer_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{54,0},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dail_outer_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,4}</string>
                <key>spriteSourceSize</key>
                <string>{228,4}</string>
                <key>textureRect</key>
                <string>{{952,0},{228,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Music_score_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,220}</string>
                <key>spriteSourceSize</key>
                <string>{40,220}</string>
                <key>textureRect</key>
                <string>{{91,0},{40,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Music_score_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,136}</string>
                <key>spriteSourceSize</key>
                <string>{40,136}</string>
                <key>textureRect</key>
                <string>{{131,0},{40,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Music_score_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{40,94}</string>
                <key>textureRect</key>
                <string>{{171,0},{40,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Music_score_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{40,52}</string>
                <key>textureRect</key>
                <string>{{211,0},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Music_score_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,73}</string>
                <key>spriteSourceSize</key>
                <string>{40,73}</string>
                <key>textureRect</key>
                <string>{{251,0},{40,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_attribute_dotted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{253,18}</string>
                <key>spriteSourceSize</key>
                <string>{255,18}</string>
                <key>textureRect</key>
                <string>{{1180,0},{253,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_attribute_dotted_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,4}</string>
                <key>spriteSourceSize</key>
                <string>{256,4}</string>
                <key>textureRect</key>
                <string>{{1433,0},{256,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_attribute_solid_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1252,4}</string>
                <key>spriteSourceSize</key>
                <string>{1252,4}</string>
                <key>textureRect</key>
                <string>{{0,224},{1252,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_attribute_solid_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,177}</string>
                <key>spriteSourceSize</key>
                <string>{71,177}</string>
                <key>textureRect</key>
                <string>{{483,0},{71,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_attribute_turn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,9}</string>
                <key>spriteSourceSize</key>
                <string>{267,9}</string>
                <key>textureRect</key>
                <string>{{1689,0},{267,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_attribute_turn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,48}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{343,0},{70,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_card_line_buttom_non_default_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,4}</string>
                <key>spriteSourceSize</key>
                <string>{1000,4}</string>
                <key>textureRect</key>
                <string>{{292,220},{1000,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_card_line_top_non_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,152}</string>
                <key>spriteSourceSize</key>
                <string>{197,152}</string>
                <key>textureRect</key>
                <string>{{554,0},{197,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_card_turn_buttom_non_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,26}</string>
                <key>spriteSourceSize</key>
                <string>{35,26}</string>
                <key>textureRect</key>
                <string>{{19,0},{35,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_status_dotted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,17}</string>
                <key>spriteSourceSize</key>
                <string>{201,17}</string>
                <key>textureRect</key>
                <string>{{751,0},{201,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_status_dotted_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,4}</string>
                <key>spriteSourceSize</key>
                <string>{292,4}</string>
                <key>textureRect</key>
                <string>{{0,220},{292,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_status_turn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,97}</string>
                <key>spriteSourceSize</key>
                <string>{52,97}</string>
                <key>textureRect</key>
                <string>{{291,0},{52,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ship_status_turn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{413,0},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>starmap_line.png</string>
            <key>size</key>
            <string>{1956,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2845521f3cb07edd4406c18a15ed563:3c195f01c1d68187039d25f42ef90f90:fd07abbd9843f11c1ca0eccf27df1e9b$</string>
            <key>textureFileName</key>
            <string>starmap_line.png</string>
        </dict>
    </dict>
</plist>
